@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Look at the project's license <a href="https://github.com/mezidia/hotel-booking/blob/master/LICENSE">here</a>.</p>
